//more https://css-tricks.com/examples/ShapesOfCSS

@mixin triangle-up ($left, $right, $bottom, $color) {
  width: 0;
  height: 0;
  border-left: $left solid transparent;
  border-right: $right solid transparent;
  border-bottom: $bottom solid $color;
}
@mixin triangle-down ($left, $right, $top, $color) {
  width: 0;
  height: 0;
  border-left: $left solid transparent;
  border-right: $right solid transparent;
  border-top: $top solid $color;
}
@mixin triangle-left ($top, $bottom, $right, $color) {
  width: 0;
  height: 0;
  border-top: $top solid transparent;
  border-bottom: $bottom solid transparent;
  border-right: $right solid $color;
}
@mixin triangle-right ($top, $bottom, $left, $color) {
  width: 0;
  height: 0;
  border-top: $top solid transparent;
  border-bottom: $bottom solid transparent;
  border-left: $left solid $color;
}
@mixin triangle-top-left ($side, $color) {
  width: 0;
  height: 0;
  border-top: $side solid $color;
  border-right: $side solid transparent;
}
@mixin triangle-top-right ($side, $color) {
  width: 0;
  height: 0;
  border-top: $side solid $color;
  border-left: $side solid transparent;
}
@mixin triangle-bottom-left ($side, $color) {
  width: 0;
  height: 0;
  border-bottom: $side solid $color;
  border-right: $side solid transparent;
}
@mixin triangle-bottom-right ($side, $color) {
  width: 0;
  height: 0;
  border-bottom: $side solid $color;
  border-left: $side solid transparent;
}
@mixin diamond($w, $h) {
  width: $w;
  height: $h;
  transform: rotate(45deg);
}
@mixin parallelogram ($width, $height) {
  width: $width;
  height: $height;
  transform: skew(20deg);
}
@mixin packman($radius, $color) {
  width: 0;
  height: 0;
  border: $radius solid;
  border-color: $color transparent $color $color;
  border-radius: $radius;
}
