.form

	&-control
		margin-bottom 10px

		&__label
			width auto
			height auto

			&_icon-search
				position relative

				&:after
					position absolute
					top 0
					right 100%
					margin-right 6px
					display block
					width 18px
					height 18px
					background-image url('../images/icon-svg/icon-search.svg')
					background-repeat no-repeat
					background-size contain
					content ''

		&__input
			padding 4px 8px
			width 220px
			font-size 14px
			border-style solid
			border-color #ebebeb
			border-width 1px
			border-radius 2px

		&__textarea
			padding 4px 8px
			font-size 14px
			border-style solid
			border-color #ebebeb
			border-width 1px
			border-radius 2px

		&__button
			margin-right 10px
			padding 4px 8px
			font-size 14px
			border-style solid
			border-color #ebebeb
			border-width 1px
			border-radius 2px
			background-color #fff
			cursor pointer
